<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <title>Books MainPage</title>
</head>
<body>
    <div class="addBook"><h1>Add A Book</h1>
        <form action="/create" method="post">
            {% csrf_token %}
            <p1>Title: <input type="text" name="title" /></p1>
            <p2>Description: <textarea name="desc" id="description" cols="30" rows="10"></textarea></p2>
            <input type="submit" value="Add Book" />
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags}}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="books">
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for books in all_the_books %}
                <tr>
                    <td>{{ books.id }}</td>
                    <td>{{ books.title }}</td>
                    <td><a href="/books/{{books.id}}">View</a>|<a href="/editBook/{{books.id}}">Edit</a>|<a href="/delete/{{books.id}}">Delete</a></td>
                    
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>